<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257950146691-ap2kmismfie74apd3kljvosr9p52fr0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257950146691-ap2kmismfie74apd3kljvosr9p52fr0f</string>
	<key>API_KEY</key>
	<string>AIzaSyCxoEwwaLPkvK6ckMnLfzc6mUl5z26MvLo</string>
	<key>GCM_SENDER_ID</key>
	<string>257950146691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weed.QuizEducation</string>
	<key>PROJECT_ID</key>
	<string>quizeducation-fd248</string>
	<key>STORAGE_BUCKET</key>
	<string>quizeducation-fd248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257950146691:ios:9547bd37f8fb8355e67bb6</string>
</dict>
</plist>